@charset "utf-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #F2071B, #F20530);
}

main{
    background-color: #F2F2F2;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #730202;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #730202;
    text-align: center;
    text-shadow: 1px 1px 2px #f2071b78;
}
h2{
    color: #262626;
}

p{
    text-align: justify;
}